.chart {
	margin-left: 42px;
	font: 10px sans-serif;
	shape-rendering: crispEdges;
}

.chart div {
	background-color: white;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.chart rect {
	stroke: white;
	fill: black;
}

.chart text.bar {
	fill: white;
}